# Server Config
PORT=3000
API_PREFIX=/hackathon

# DigiKey API Creds
DIGIKEY_CLIENT_ID=your_digikey_client_id
DIGIKEY_CLIENT_SECRET=your_digikey_client_secret
DIGIKEY_API_URL=https://api.digikey.com
DIGIKEY_TOKEN_URL=https://api.digikey.com/v1/oauth2/token

# Admin Auth
ADMIN_CODE=CHANGEMENOW

# Push Notification Config (VAPID Keys, get from server logs)
VAPID_PUBLIC_KEY=your_vapid_public_key
VAPID_PRIVATE_KEY=your_vapid_private_key
CONTACT_EMAIL=example@yourdomain.org
